.section {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.new {
  padding-top: 10rem;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.top div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.top h2 {
  font-size: 2rem;
  font-weight: 700;
}

.top p {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--secondary-text);
}

.top a {
  border: 1px solid var(--primary-color);
  padding: 10px 15px;
  border-radius: 12px;
  color: var(--primary-color);
}

.top a:hover {
  background-color: var(--primary-color);
  opacity: 0.5;
  color: var(--primary-bg);
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.new .row {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
