.hero {
  background-color: var(--secondary-bg);
  padding: 4rem 1rem 0;
  position: relative;
  /* background-image: url("../../assets/hero.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero > div {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

.heroContent {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  padding-bottom: 4rem;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero p {
  text-shadow: 0 0 1px rgba(255, 255, 255, 1);
  font-weight: 500;
  line-height: 1.5;
}

/* .controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2rem;
  border-radius: 12px;
}

.controls form {
  display: flex;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
  background-color: var(--secondary-bg);
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  padding: 0.5rem 1rem;
}

.controls input {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
} */

.profile {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
  bottom: -4rem;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid var(--primary-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  background-color: var(--secondary-bg);
}
