header {
  border-bottom: 1px solid #e1e1e1;
  padding-inline: 1rem;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-text);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-size: 1.2rem;
}

.nav-list a {
  color: var(--primary-text);
  font-weight: 500;
}

.nav-list a:hover {
  color: var(--primary-color);
}

.nav-list .active {
  color: var(--primary-color);
}

.accounts {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.accounts p {
  font-size: 1rem;
  color: var(--primary-text);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: underline;
}

.theme-toggle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--secondary-bg);
  color: var(--primary-color);
  cursor: pointer;
}
