  .profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 1rem
  }

  .profileHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    text-align: center;
  }
  
  .address {
    color: #aaa;
  }
  
  .profileStats {
    border-radius: 8px;
    padding: 15px;
    width: 600px;
    max-width: 600px;
    background-color: var(--secondary-bg);
  }
  
  .profileStats h3 {
    text-align: center;
  }
  
  .subscribed {
    text-align: center;
    color: #0f0;
  }
  
  .notSubscribed {
    text-align: center;
    color: #f00;
  }
  
  .statsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
  }
  
  .statsGrid div {
    text-align: center;
  }
  
  .subscribeButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .subscribeButton:hover {
    background-color: rgb(104, 95, 240);
  }

  .editButton{
    display: block;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .editButton:hover{
    background-color: rgb(104, 95, 240);
  }
